<div class="banner bg-red-400 flex" style="margin-top: -120px;">
  <video style="filter: brightness(50%);" class="m-auto w-full" src="{{section.settings.video.sources[1].url}}" loop muted playsinline autoplay></video>
</div>

{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "limit": 1,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Slideshow"
        },
        {
            "type": "video",
            "id": "video",
            "label": "video"
        }
    ]
}
{% endschema %}
