<div class="flex flex-col items-center my-8">
    <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>
    <h2 class="text-center text-xl">{{ section.settings.subtitle }}</h2>
    <div class="w-full max-w-[2000px] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
                {% render 'product-card', product_product: product %}
            {% else %}
                {% for item in (1..4) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>



{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Featured Collection",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "default": "Subtitle Featured Collection",
            "label": "Subtitle"
        },
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "number_of_products_to_show",
            "min": 4,
            "max": 12,
            "default": 4,
            "label": "Number of products to show"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}