<div class="fixed top-0 left-0 right-0 bottom-0 bg-black">
    <video class="w-full object-cover h-full opacity-20 blur-lg" src="{{section.settings.video.sources[1].url}}" loop muted autoplay playsinline ></video>
</div>

<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="relative text-white text-center text-3xl font-bold mt-6">Register an account</h1>
        </div>
        <div class="mt-8">
            {% form 'create_customer' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red 700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="my-2 flex bg-white relative rounded py-2 px-3">
                    <label for="first_name" class="w-[20%] text-gray-500 text-xs flex border-r-2">
                        <span class="m-auto ml-0">First name</span>
                    </label>
                    <input type="text"
                    name="customer[first_name]"
                    id="first_name"
                    autocomplete="given-name"
                    class="ml-2 bg-transparent outline-none w-[76%]">
                </div>

                <div class="my-2 flex bg-white relative rounded py-2 px-3">
                    <label for="last_name" class="w-[20%] text-gray-500 text-xs flex border-r-2">
                        <span class="m-auto ml-0">Last name</span>
                    </label>
                    <input type="text"
                    name="customer[last_name]"
                    id="last_name"
                    autocomplete="family-name"
                    class="ml-2 bg-transparent outline-none w-[76%]">
                </div>

                <div class="my-2 flex bg-white relative rounded py-2 px-3">
                    <label for="birthday" class="w-[20%] text-gray-500 text-xs flex border-r-2">
                        <span class="m-auto ml-0">Birthday</span>
                    </label>
                    <input type="date"
                    name="customer[note][Birthday]"
                    id="birthday"
                    class="ml-2 bg-transparent outline-none w-[76%]">
                </div>

                <div class="my-2 flex bg-white relative rounded py-2 px-3">
                    <label for="email_address" class="w-[20%] text-gray-500 text-xs flex border-r-2">
                        <span class="m-auto ml-0">Email</span>
                    </label>
                    <input type="email"
                    name="customer[email]"
                    id="email_address"
                    class="ml-2 bg-transparent outline-none w-[76%]">
                </div>


                <div class="my-2 flex bg-white relative rounded py-2 px-3">
                    <label for="password" class="w-[20%] text-gray-500 text-xs flex border-r-2">
                        <span class="m-auto ml-0">Password</span>
                    </label>
                    <input type="password"
                    name="customer[password]"
                    id="password"
                    class="ml-2 bg-transparent outline-none w-[76%]">
                </div>
                <div>
                    <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-blue-500  hover:bg-blue-600 rounded-full">
                        Create account
                    </button>
                </div>
            {% endform %}
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Register",
        "tag": "section",
        "settings": [
            {
                "type": "video",
                "id": "video",
                "label": "video"
            }
        ]
    }
{% endschema %}